nav{
    max-width: 350px;
    /* transform: translateX(calc(-100% + 100px)); */
    transition: transform ease-in-out .8s;
    transform: translateX(calc(-100% + 75px))
    
}
.links .link{

 transition: transform ease-in-out .7s;
    transform: translateY(200px);
}

.container{
    max-width: unset;
    padding:  3rem 1.3rem 3rem 6rem;

}

#loodingScreen{
    display: none;

}
#loodingScreen .spinner i{
    font-size: 6rem !important;
}

#search input::placeholder{
    color: rgba(255, 255, 255, 0.771);
}


.shadow-lg {
    box-shadow: 1rem 1rem 4rem rgba(255, 255, 255, 0.219)!important;
}
.meal:hover .layer{
    transform: translateY(0);
}
.layer{
    transform: translateY(100%);
    transition: transform ease-in-out .4s;
}